@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <h2>To Farm Centrals Stock Management Web System</h2>
</div>

<div class="row">
    .box1 img {
    object-fit: fill;
    }
    <div class="box box1">
        <img src="~/Resouces/Employee.png" alt="Employee" />
    </div>
    <div class="row">
        .box2 img {
        object-fit: fill;
        }
        <div class="box box2">
            <img src="~/Resouces/Farmer.png" alt="Employee" />
        </div>
    </div>
</div>